genes.rds
add_data_sets.rds
.Rproj.user
# Created by https://www.toptal.com/developers/gitignore/api/r,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=r,windows

### R ###
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

### R.Bookdown Stack ###
# R package: bookdown caching files
/*_files/

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/r,windows
data/hallmarks_genesets.rds
data/tcga_tumor_annotation.RDS
data/tcga_tumor_log2TPM.RDS
data/tcga_tumor_normal_datascience_proj_2022.RDS
cancer_hallmark_and_metabolic_pathways_in_cancer/.Rproj.user/5B2D899B/sources/s-33812208/lock_file
cancer_hallmark_and_metabolic_pathways_in_cancer/.Rproj.user/shared/notebooks/patch-chunk-names
cancer_hallmark_and_metabolic_pathways_in_cancer/cancer_hallmark_and_metabolic_pathways_in_cancer.Rproj
2022-topic-02-team-04.Rproj
.Rhistory
.Rproj.user/5B2D899B/pcs/files-pane.pper
.Rproj.user/5B2D899B/pcs/source-pane.pper
.Rproj.user/5B2D899B/pcs/windowlayoutstate.pper
.Rproj.user/5B2D899B/pcs/workbench-pane.pper
.Rproj.user/5B2D899B/rmd-outputs
.Rproj.user/5B2D899B/saved_source_markers
.Rproj.user/shared/notebooks/paths
.Rproj.user/5B2D899B/sources/prop/INDEX
.Rproj.user/5B2D899B/sources/prop/FFB74D85
.Rproj.user/5B2D899B/sources/per/t/A2E8EC77-contents
.Rproj.user/5B2D899B/sources/per/t/A2E8EC77
.Rproj.user/BEAEBAD0/pcs/files-pane.pper
.Rproj.user/BEAEBAD0/pcs/source-pane.pper
.Rproj.user/BEAEBAD0/pcs/windowlayoutstate.pper
.Rproj.user/BEAEBAD0/pcs/workbench-pane.pper
.Rproj.user/BEAEBAD0/rmd-outputs
.Rproj.user/BEAEBAD0/saved_source_markers
.Rproj.user/BEAEBAD0/sources/per/t/DED15F0B
.Rproj.user/BEAEBAD0/sources/per/t/DED15F0B-contents
.Rproj.user/BEAEBAD0/sources/prop/75CBAF29
.Rproj.user/BEAEBAD0/sources/prop/INDEX
.Rproj.user/6FA75B65/saved_source_markers
.Rproj.user/6FA75B65/rmd-outputs
.Rproj.user/6FA75B65/pcs/workbench-pane.pper
.Rproj.user/6FA75B65/pcs/windowlayoutstate.pper
.Rproj.user/6FA75B65/pcs/source-pane.pper
.Rproj.user/6FA75B65/pcs/files-pane.pper
.RData
.Rproj.user/6FA75B65/sources/per/t/3972EEA4
.Rproj.user/6FA75B65/sources/per/t/3972EEA4-contents
.Rproj.user/6FA75B65/sources/per/t/D5ABF383
.Rproj.user/6FA75B65/sources/per/t/D5ABF383-contents
.Rproj.user/6FA75B65/sources/prop/4EE1F820
.Rproj.user/6FA75B65/sources/prop/5335B46A
.Rproj.user/6FA75B65/sources/prop/INDEX
.Rproj.user/shared/notebooks/3BD11931-DataAnalysis3FS_WS2021_Woche2_missing Values/1/s/c0eu2qwokg2o4/00000f.csv
.Rproj.user/shared/notebooks/3BD11931-DataAnalysis3FS_WS2021_Woche2_missing Values/1/s/chunks.json
.Rproj.user/shared/notebooks/3BD11931-DataAnalysis3FS_WS2021_Woche2_missing Values/1/s/cjleflltete0d/00000f.csv
.Rproj.user/shared/notebooks/3BD11931-DataAnalysis3FS_WS2021_Woche2_missing Values/1/s/csetup_chunk/00000f.csv
.Rproj.user/shared/notebooks/3BD11931-DataAnalysis3FS_WS2021_Woche2_missing Values/1/s/cz51sp4wf7wf6/00000f.csv
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/5B2D899B2D260C66/chunks.json
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/5B2D899B4C98EBD1/cdcvwu6hbx8k0/00000f.csv
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/5B2D899B4C98EBD1/cdcvwu6hbx8k0_t/execution.lock
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/5B2D899B4C98EBD1/chunks.json
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/5B2D899B4C98EBD1/cxw7brggngftr/000017.csv
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/5B2D899B4C98EBD1/cxw7brggngftr/000018.error
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/s/c8xzq0groqsgk/00000f.csv
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/s/chunks.json
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/s/csetup_chunk/00000f.csv
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/s/cwkgjbjn5toja/00001f.metadata
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/s/cwkgjbjn5toja/00001f.png
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/s/cwkgjbjn5toja/00001f.snapshot
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/s/cwkgjbjn5toja/temp/00001f.png
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/s/cxw7brggngftr/00000f.csv
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/s/cxw7brggngftr/000010.error
.Rproj.user/shared/notebooks/F0F012B4-datasets/1/5B2D899BF660B416/chunks.json
.Rproj.user/shared/notebooks/F0F012B4-datasets/1/s/c30a55ym8iwyt/00000f.csv
.Rproj.user/shared/notebooks/F0F012B4-datasets/1/s/cbhsj6uiye2st/00000f.csv
.Rproj.user/shared/notebooks/F0F012B4-datasets/1/s/cgqihw9ol7ym0/00000f.csv
.Rproj.user/shared/notebooks/F0F012B4-datasets/1/s/chunks.json
.Rproj.user/shared/notebooks/F0F012B4-datasets/1/s/clq544yfh9mjr/00000f.csv
.Rproj.user/shared/notebooks/F0F012B4-datasets/1/s/csetup_chunk/00000f.csv
.Rproj.user/6FA75B65/sources/per/t/E1A628C2
.Rproj.user/shared/notebooks/0AE543EE-datasets/1/6FA75B65F15712BF/chunks.json
.Rproj.user/shared/notebooks/0AE543EE-datasets/1/s/cgh04hw3i2uwg_t/execution.lock
.Rproj.user/6FA75B65/sources/per/t/E1A628C2

datasets.Rmd

.Rproj.user/.Rproj.user/BEAEBAD0/sources/prop/66681F02
.Rproj.user/.Rproj.user/BEAEBAD0/sources/prop/ADD1E786
.Rproj.user/.Rproj.user/BEAEBAD0/sources/prop/INDEX
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/17166537
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/17166537-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/3208A310-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/4EC9F312
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/4EC9F312-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/74762ADD
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/74762ADD-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/82AE3CD0
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/82AE3CD0-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/B5F02563-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/CC1C9D8C
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/CC1C9D8C-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/FFE0900C
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/FFE0900C-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/lock_file
.Rproj.user/.Rproj.user/shared/notebooks/CECCEEC7-datasets/1/BEAEBAD08B7A51FB/chunks.json
.Rproj.user/.Rproj.user/shared/notebooks/CECCEEC7-datasets/1/s/c84koq4muzzj2/00000f.csv
.Rproj.user/.Rproj.user/shared/notebooks/CECCEEC7-datasets/1/s/cefwukwqg06ve/00000f.csv
.Rproj.user/.Rproj.user/shared/notebooks/CECCEEC7-datasets/1/s/csetup_chunk/00000f.csv
.Rproj.user/.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/.Rproj.user/shared/notebooks/paths
.Rproj.user/.Rproj.user.Rproj
.Rproj.user/.Rproj.user/BEAEBAD0/jobs/39456AEC-output.json
.Rproj.user/.Rproj.user/BEAEBAD0/jobs/E47CD21E-output.json
.Rproj.user/.Rproj.user/BEAEBAD0/sources/prop/A23E4E15
.Rproj.user/.Rproj.user/BEAEBAD0/sources/prop/E9D6165D
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/084A916C
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/084A916C-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/8E476ADC
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-8B7A51FB/8E476ADC-contents
.Rproj.user/5B2D899B/explorer-cache/aa9dc7fb2a1e474eb15543a60423c5fb
.Rproj.user/5B2D899B/sources/per/t/6D797E4A
.Rproj.user/5B2D899B/sources/per/t/7B78777C
.Rproj.user/5B2D899B/sources/per/t/7B78777C-contents
.Rproj.user/5B2D899B/sources/per/t/8EDFFB34
.Rproj.user/5B2D899B/sources/per/t/8EDFFB34-contents
.Rproj.user/5B2D899B/sources/per/t/9F43AB32
.Rproj.user/5B2D899B/sources/per/t/9F43AB32-contents
.Rproj.user/5B2D899B/sources/per/t/C2DFDDC1
.Rproj.user/5B2D899B/sources/per/t/C2DFDDC1-contents
.Rproj.user/5B2D899B/sources/prop/273979F7
.Rproj.user/5B2D899B/viewer-cache/01D0A066.Rdata
.Rproj.user/5B2D899B/viewer-cache/86BA5721.Rdata
.Rproj.user/shared/notebooks/0AE543EE-datasets/1/6FA75B650ADBC7A8/chunks.json
.Rproj.user/shared/notebooks/0AE543EE-datasets/1/s/csetup_chunk/00000f.csv
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/5B2D899B2B58C703/chunks.json
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/5B2D899B3E4A245A/chunks.json
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/5B2D899BC5DEB0DD/chunks.json
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/5B2D899BD7EAF5A4/chunks.json
.Rproj.user/shared/notebooks/A12F517E-01_preprocessing_tcga_exp/1/5B2D899BF05FAC20/chunks.json
.Rproj.user/shared/notebooks/F0F012B4-datasets/1/5B2D899B16E6DE31/chunks.json
.Rproj.user/shared/notebooks/F0F012B4-datasets/1/5B2D899B3E4A245A/chunks.json
.Rproj.user/shared/notebooks/F0F012B4-datasets/1/5B2D899B9088D085/chunks.json
.Rproj.user/shared/notebooks/F0F012B4-datasets/1/5B2D899BD7EAF5A4/chunks.json
.Rproj.user/shared/notebooks/F0F012B4-datasets/1/s/cvog4qzppll4e/00000f.error
.Rproj.user/5B2D899B/sources/per/t/6D797E4A
.Rproj.user/5B2D899B/sources/per/t/7B78777C
.Rproj.user/5B2D899B/sources/per/t/7B78777C-contents
.Rproj.user/5B2D899B/sources/per/t/9F43AB32
.Rproj.user/5B2D899B/sources/per/t/9F43AB32-contents
.Rproj.user/5B2D899B/sources/prop/273979F7
.Rproj.user/5B2D899B/viewer-cache/01D0A066.Rdata
.Rproj.user/5B2D899B/viewer-cache/86BA5721.Rdata
.Rproj.user/shared/notebooks/0AE543EE-datasets/1/6FA75B650ADBC7A8/chunks.json
.Rproj.user/shared/notebooks/0AE543EE-datasets/1/s/csetup_chunk/00000f.csv
.Rproj.user/5B2D899B/sources/per/t/6D797E4A
.Rproj.user/5B2D899B/sources/per/t/7B78777C
.Rproj.user/5B2D899B/sources/per/t/7B78777C-contents
.Rproj.user/5B2D899B/sources/per/t/9F43AB32
.Rproj.user/5B2D899B/sources/per/t/9F43AB32-contents
.Rproj.user/5B2D899B/sources/prop/273979F7
.Rproj.user/5B2D899B/viewer-cache/01D0A066.Rdata
.Rproj.user/5B2D899B/viewer-cache/86BA5721.Rdata
.Rproj.user/shared/notebooks/0AE543EE-datasets/1/6FA75B650ADBC7A8/chunks.json
.Rproj.user/shared/notebooks/0AE543EE-datasets/1/s/csetup_chunk/00000f.csv
.Rproj.user/.Rproj.user/shared/notebooks/CECCEEC7-datasets/1/s/cnezg1t49j30y_t/execution.lock
.Rproj.user/.Rproj.user/shared/notebooks/CECCEEC7-datasets/1/s/cnezg1t49j30y/execution.lock
.Rproj.user/.Rproj.user/shared/notebooks/CECCEEC7-datasets/1/s/cnezg1t49j30y/00000f.csv
.Rproj.user/.Rproj.user/shared/notebooks/CECCEEC7-datasets/1/s/caen1du6jvnas/00000f.csv
.Rproj.user/.Rproj.user/shared/notebooks/CECCEEC7-datasets/1/BEAEBAD07E0BF36A/chunks.json
.Rproj.user/.Rproj.user/shared/notebooks/CECCEEC7-datasets/1/BEAEBAD01346DBCE/chunks.json
.Rproj.user/.Rproj.user/shared/notebooks/81C8D2FF-explore data/1/s/csetup_chunk/00000f.csv
.Rproj.user/.Rproj.user/shared/notebooks/81C8D2FF-explore data/1/s/chunks.json
.Rproj.user/.Rproj.user/shared/notebooks/81C8D2FF-explore data/1/s/cdl20tiviuyvb/00005a.snapshot
.Rproj.user/.Rproj.user/shared/notebooks/81C8D2FF-explore data/1/s/cdl20tiviuyvb/00005a.png
.Rproj.user/.Rproj.user/shared/notebooks/81C8D2FF-explore data/1/s/cdl20tiviuyvb/00005a.metadata
.Rproj.user/.Rproj.user/shared/notebooks/81C8D2FF-explore data/1/s/cdl20tiviuyvb/000059.csv
.Rproj.user/.Rproj.user/shared/notebooks/81C8D2FF-explore data/1/s/c08j8xpfkx3h2/00000f.csv
.Rproj.user/.Rproj.user/shared/notebooks/81C8D2FF-explore data/1/BEAEBAD029CE1A11/chunks.json
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/lock_file
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/FFE0900C-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/FF8B9471-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/FF8B9471
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/DD8A763E-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/CC1C9D8C-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/B5F02563-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/AB1433F4-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/9DA88CB9-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/939147B8-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/939147B8
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/8E476ADC-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/8E476ADC
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/85ED7B74-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/85ED7B74
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/82AE3CD0-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/74762ADD-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/74762ADD
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/72393FED-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/72393FED
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/502AC064-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/4EC9F312-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/3BD5100E-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/3208A310-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/30898139-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/24F9562D-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/17166537-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/17166537
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/084A916C-contents
.Rproj.user/.Rproj.user/BEAEBAD0/sources/s-29CE1A11/084A916C
.Rproj.user/.Rproj.user/BEAEBAD0/sources/prop/F26D52C5
.Rproj.user/.Rproj.user/BEAEBAD0/sources/prop/6B7F5D43
.Rproj.user/.Rproj.user/BEAEBAD0/sources/prop/2A13C271
.Rproj.user/.Rproj.user/BEAEBAD0/sources/prop/1EBEE07F
.Rproj.user/.Rproj.user/BEAEBAD0/sources/prop/1991CE44
.Rproj.user/.Rproj.user/BEAEBAD0/sources/prop/1110020E
.Rproj.user/.Rproj.user/BEAEBAD0/sources/prop/000C3291
.Rproj.user/.Rproj.user/BEAEBAD0/jobs/D2B94D26-output.json
.Rproj.user/.Rproj.user/BEAEBAD0/jobs/46D00282-output.json
.Rproj.user/.RDataTmp

data/tcga_exp_cleaned.rds
